@import '../../node_modules/bulma/bulma.sass';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

body{
    background-color:grey;
}
.App{
    width:75%;
    margin:auto;
    
    .header{
        display:flex;
        justify-content: space-between;
        height:50vh;
        .im{
            
            width:60%;
            img{
                width:100%;
                height:100%;
            }
        }
        .description{
            
            width:35%;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
        }
    }
}

.features{
    display:flex;
    justify-content: space-between;
}

.added{
    width:48%;
    height:45vh;
}

.additional{
    width:48%;
    height:45vh;
}

ol{
    list-style-type: none;
    .additional-li{
        margin: 0.5rem 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:90%;
        
    } 
    .added-li{
       margin: 0.5rem 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:90%;
        
    }    
}

hr{
    width:50%;
    border-top: 2px solid;
}



.feature-name{
    width:70%;
    display:flex;
        justify-content: space-around;
        align-items: center;
        
}